aside {
    visibility: hidden;          //menu
    justify-content: flex-start;
    padding: 0;
    margin: 0 0.5em;
    height: 4vh;
    width: 60vw;
    background: darkorchid;
    z-index: 2;
}
header {
    margin: 0;
    padding-left: 1em;
    padding-bottom: 0.5em;
    width: 55vw;
    background: #fdfefc;
    border-radius: 0 0 1em 0;
}
#pages {
    padding-top: 2vh;
}
address {
    margin: 0;
    padding-top: 3.5vh;
    padding-bottom: 6.5vh;
    padding-left: 1em;
    width: 55vw;
}
#nlbar {
    flex-direction: column;
}
#central {
    margin: 4em 0.45em 0.5em 0.5em;
    width: unset;
}

#topline {
    visibility: hidden;
}
#jour-nuit {
    padding: 0;
}

#top-titre {
    visibility: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 5vw;
    background: #fdfefc;
}
#menu-logo img{
    height: 1.5em;
    width: 1.5em;
    margin-right: 1.5em;
}
#nlbar {
    /*text-align: center;*/
    margin-bottom: 1.5em;
}

#lowfooter {
    flex-direction: column;
    justify-items: center;
}

#lowfooter div {
    margin: auto;
}

#legals {
    justify-content: center;
}
.socials a img {
    opacity: 1;
}
input[type=submit] {
    margin-left: unset;
}
#conteneur-form input {
    width: 78vw;
}
#centrage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -1em;
}
#centrage input {
    width: 15em;
    margin: auto auto 2em auto;
}
#images-view div{
    margin: 0.35em;
    padding: 0;
}
#images-view div div img {
    width: 80vw;
}
#aj-image {
    margin: 2em auto 3em 32vw;
}